USE [master]
GO
/****** Object:  Database [QuanLyThuVienCSharp]    Script Date: 25/12/2021 10:50:40 PM ******/
CREATE DATABASE [QuanLyThuVienCSharp]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuVienCSharp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuVienCSharp]
GO
/****** Object:  Table [dbo].[CTPHIEUMUON]    Script Date: 25/12/2021 10:50:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUMUON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSach] [int] NOT NULL,
	[SoPhieuMuon] [int] NOT NULL,
	[TinhTrang] [bit] NOT NULL,
	[NgayMuon] [date] NULL,
	[NgayTra] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 25/12/2021 10:50:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 25/12/2021 10:50:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[SoPhieuMuon] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MaSinhVien] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 25/12/2021 10:50:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[AnhSach] [image] NULL,
	[TenSach] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TacGia] [nvarchar](50) NULL,
	[NhaXuatBan] [nvarchar](50) NOT NULL,
	[NamXuatBan] [date] NULL,
	[LanXuatBan] [int] NULL,
	[GiaMuon] [int] NOT NULL,
	[MaDanhMuc] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 25/12/2021 10:50:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[IDTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[AnhDaiDien] [image] NULL,
	[TenDangNhap] [varchar](20) NOT NULL,
	[MatKhau] [char](20) NOT NULL,
	[TenNguoiDung] [nvarchar](50) NOT NULL,
	[LoaiTaiKhoan] [int] NOT NULL,
	[TinhTrang] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CTPHIEUMUON] ON 

INSERT [dbo].[CTPHIEUMUON] ([ID], [MaSach], [SoPhieuMuon], [TinhTrang], [NgayMuon], [NgayTra]) VALUES (1, 1, 1, 0, CAST(N'2021-06-10' AS Date), CAST(N'2021-06-24' AS Date))
INSERT [dbo].[CTPHIEUMUON] ([ID], [MaSach], [SoPhieuMuon], [TinhTrang], [NgayMuon], [NgayTra]) VALUES (2, 1, 2, 1, CAST(N'2021-08-09' AS Date), CAST(N'2021-08-23' AS Date))
INSERT [dbo].[CTPHIEUMUON] ([ID], [MaSach], [SoPhieuMuon], [TinhTrang], [NgayMuon], [NgayTra]) VALUES (3, 2, 2, 1, CAST(N'2021-08-09' AS Date), CAST(N'2021-08-16' AS Date))
SET IDENTITY_INSERT [dbo].[CTPHIEUMUON] OFF
GO
SET IDENTITY_INSERT [dbo].[DANHMUC] ON 

INSERT [dbo].[DANHMUC] ([MaDanhMuc], [TenDanhMuc]) VALUES (1, N'Truyện cổ tích')
INSERT [dbo].[DANHMUC] ([MaDanhMuc], [TenDanhMuc]) VALUES (2, N'Truyện ngắn')
INSERT [dbo].[DANHMUC] ([MaDanhMuc], [TenDanhMuc]) VALUES (3, N'Truyện ngụ ngôn')
SET IDENTITY_INSERT [dbo].[DANHMUC] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUMUON] ON 

INSERT [dbo].[PHIEUMUON] ([SoPhieuMuon], [TenDangNhap], [MaSinhVien]) VALUES (1, N'Trần Công Sơn', N'1041060254')
INSERT [dbo].[PHIEUMUON] ([SoPhieuMuon], [TenDangNhap], [MaSinhVien]) VALUES (2, N'Bùi Châu Mỹ', N'1041060324')
INSERT [dbo].[PHIEUMUON] ([SoPhieuMuon], [TenDangNhap], [MaSinhVien]) VALUES (3, N'Ngô Thị Thủy', N'2018602491')
SET IDENTITY_INSERT [dbo].[PHIEUMUON] OFF
GO
SET IDENTITY_INSERT [dbo].[SACH] ON 

SET IDENTITY_INSERT [dbo].[SACH] OFF
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
ALTER TABLE [dbo].[CTPHIEUMUON] ADD  DEFAULT ((0)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[CTPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUMUON_PHIEUMUON] FOREIGN KEY([SoPhieuMuon])
REFERENCES [dbo].[PHIEUMUON] ([SoPhieuMuon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTPHIEUMUON] CHECK CONSTRAINT [FK_CTPHIEUMUON_PHIEUMUON]
GO
ALTER TABLE [dbo].[CTPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUMUON_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTPHIEUMUON] CHECK CONSTRAINT [FK_CTPHIEUMUON_SACH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_DANHMUC] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DANHMUC] ([MaDanhMuc])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_DANHMUC]
GO
USE [master]
GO
